.grid {
  width: 90%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  margin: 30px auto;
  gap: 20px;
}

.picture {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 700px;
  width: auto;
}

.miniCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
}

@media (max-width: 450px) {
  .miniCards {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
